default: &default
  <<: *default

dev:
  <<: *default
  LANDING_REDSHIFT_URL: "jdbc:redshift://something:5439/landing"
  LANDING_REDSHIFT_USERNAME: "username"
  LANDING_REDSHIFT_PASSWORD: "password"

stage:
  <<: *default
  LANDING_REDSHIFT_URL: "jdbc:redshift://something:5439/landing"
  LANDING_REDSHIFT_USERNAME: "username"
  LANDING_REDSHIFT_PASSWORD: "password"

prod:
  <<: *default
  LANDING_REDSHIFT_URL: "jdbc:redshift://something:5439/landing"
  LANDING_REDSHIFT_USERNAME: "username"
  LANDING_REDSHIFT_PASSWORD: "password"
